version: "3.8"

services:
  borg-ui:
    image: ainullcode/borg-ui:latest
    container_name: borg-web-ui
    restart: unless-stopped
    ports:
      - "8081:8081"
    networks:
      - nginx-proxy-network
    environment:
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      # Persistente Daten (nur intern)
      - borg_data:/data
      - borg_cache:/home/borg/.cache/borg
      # Ordner, die gesichert werden sollen – bitte anpassen
      - ${BORG_LOCAL_PATH}:/local:rw
      # Weitere Ordner können nach Bedarf als zusätzliche Volumes angehängt werden

volumes:
  borg_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/volumes/borg-ui/data
  borg_cache:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /mnt/volumes/borg-ui/cache

networks:
  nginx-proxy-network:
    external: true
